.center{text-align:center}
#space-invaders {
  margin: 0 auto;
  display: block;
  background: white
}


.dang{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
background-color: #d9534f;
color: #fff;
}


.btn_r{
color: #333;
background-color: #fff;
border-color: #ccc;
padding: 1px 5px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
        font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-appearance: button;
cursor: pointer;
    text-transform: none;
        overflow: visible;
            margin: 0;
        margin-bottom: 0px;
    font: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
    color: inherit;
        -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
